[Unit]
Description=Run update_roster task

[Service]
Type=oneshot
WorkingDirectory=%h/sg_assist/update_roster
ExecStart=/usr/bin/cargo run -p update_roster
