[Unit]
Description=Run store_leaderboard task

[Service]
Type=oneshot
WorkingDirectory=%h/sg_assist/store_leaderboard
ExecStart=/usr/bin/cargo run -p store_leaderboard
