[Unit]
Description=Run store_leaderboard task

[Service]
Type=oneshot
WorkingDirectory=/home/pi4/sg_assist/bin
ExecStart=/home/pi4/sg_assist/bin/keys-db
User=pi4
Group=pi4
